* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
    height: 100%;
    font-family: Helvetica, sans-serif;
}

.flex {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: #000;
}

.slideshow-container {
    height: 100%;
    position: relative;
    max-width: 100%;
}

.slides {
    display: none;
}


.slide1 {
    background-image: url("./assets/images/hero-section.jpg");
}

.slide2 {
    background-image: url("./assets/images/hero-section2.jpg");
}

.slide3 {
    background-image: url("./assets/images/hero-section3.jpg");
}

.slide1,
.slide2,
.slide3 {
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: top;
    background-size: cover;
    min-height: 100%;
}

.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

header {
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-top {
    padding: 1.5rem 15rem;
    justify-content: space-between;
}

.nav-bottom {
    background-color: rgba(138, 138, 138, 0.7);
    margin: auto;
    width: calc(100% - 10rem);
    border-radius: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.nav-bottom>.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 91.15px;
    margin: 1rem 0;
}

.logo-div {
    flex-direction: column;
    margin-right: 5rem;
}

.logo {
    width: 10rem;
}

.slogan {
    font-size: 1.5rem;
    color: #fff;
    font-weight: bold;
}

.nav-link {
    display: inline-block;
    margin-right: 2rem;
    font-size: 1.6rem;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 30px;
    padding: 2px 6px;
}

.top-nav.nav-link:nth-last-child(2) {
    margin-right: 0;
}

.account {
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.6rem;
    padding: 1.3rem 2rem;
    color: #fff;
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #a872ee;
}

.menu,
.close {
    margin-left: 3rem;
    width: 4rem;
    height: 4rem;
    justify-content: center;
    border-radius: 50%;
    /* background-color: #000000; */
    background-color: #a872ee;
    fill: #ffffff;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* display: none; */
}

.menu>svg,
.close>svg {
    height: 2.4rem;
    width: 2.4rem;
}

.d-none {
    display: none;
}

.hero-section {
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    color: #fff;
    padding: 8rem 15rem;
}

.highlight {
    color: #f8ff00;
}

.slide2>.hero-section {
    color: #000;
}

.hero-section>h1 {
    font-size: 6.2rem;
    line-height: 68.2px;
    letter-spacing: -1%;
}

.hero-section>h2 {
    font-size: 5.2rem;
    line-height: 8.6rem;
    letter-spacing: -1%;
}

.hero-section>p {
    margin-top: 3rem;
    margin-bottom: 6rem;
    font-size: 1.6rem;
    line-height: 2.4rem;
}

.hero-section>a {
    display: inline-block;
    width: fit-content;
    font-size: 1.6rem;
    padding: 1.3rem 2rem;
    /* background-color: #a020f0; */
    /* background-color: #ff4e56; */
    background-color: #a872ee;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #fff;
    border-radius: 30px;
}

.effect:hover {
    transform: scale(1.05);
    transition: transform 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
}

@media (max-width: 1292px) {
    .nav-top {
        padding: 1.5rem 10rem;
    }
}


@media (max-width: 1192px) {
    .nav-top {
        padding: 1.5rem 5rem;
    }
}

@media (max-width: 1092px) {
    .nav-top {
        padding: 1.5rem 2rem;
    }
}

@media (min-width: 1033px) {

    .menu,
    .close,
    .nav-bottom {
        display: none;
    }
}

@media (max-width: 1032px) {
    .nav-top {
        padding: 1.5rem 5rem;
    }

    .nav-link {
        display: none;
    }

    .hero-section {
        padding: 2rem 5rem;
    }
}

@media(max-width: 680px) {

    .hero-section {
        padding: 2rem 5rem;
        padding-top: 15rem;
    }

    .hero-section>.detail h1 {
        font-size: 4.8rem;
        line-height: unset;
    }
}

@media(max-width: 529px) {
    .nav-top {
        padding: 1.5rem 2rem;
        justify-content: space-around;
    }

    .nav-bottom{
        width: calc(100% - 5rem);
    }

    .logo-div {
        margin-right: 0;
    }

    .account {
        margin-left: 0;
    }
}

@media(max-width: 400px) {

    .menu,
    .close {
        margin-left: 2rem;
    }

    .logo {
        width: 8rem;
    }

    .account,
    .slogan {
        font-size: 1.2rem;
    }
}

@media(max-width: 350px) {
    .nav-bottom{
        width: calc(100% - 3rem);
    }

    .menu,
    .close {
        margin-left: 1rem;
    }
}

.d-block {
    display: block;
}